.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
.link__r9Lz7 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-Zc3wbDLFhEbD);
  font-size: 24px;
  font-weight: 700;
  padding-right: 0px;
  margin-right: 0px;
}
.root .link__r9Lz7:hover {
  color: var(--token-ePNCwG8KV6vy);
}
.img__wxhta {
  object-fit: cover;
}
.img__wxhta > picture > img {
  object-fit: cover;
}
.img__qpRiM {
  object-fit: cover;
}
.img__qpRiM > picture > img {
  object-fit: cover;
}
.link__tJjzX {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__tJjzX:hover {
  color: var(--token-ePNCwG8KV6vy);
}
.link___6Ahtg {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___6Ahtg:hover {
  color: var(--token-ePNCwG8KV6vy);
}
.link__tyPed {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__tyPed:hover {
  color: var(--token-ePNCwG8KV6vy);
}
.link__iUzU1 {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__iUzU1:hover {
  color: var(--token-ePNCwG8KV6vy);
}
